.cardsFriends {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  min-width: 300px;
  flex-wrap: wrap;
}
@media (min-width: 760px) {
  .cardsFriends {
    flex-wrap: nowrap;
  }
}

.cardFriend {
  flex-direction: column;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid white;
  width: 100px;
  padding: 20px;
  text-align: center;
}
.frendStatusOffline {
  color: brown;
}

.frendStatusOnline {
  color: green;
}
.cardList {
  margin-top: 40px;
}
