.table {
  width: 700px;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
}
.tableHeader {
  background-color: #605d5d;
}
.th,
.td {
  vertical-align: middle;
  text-align: center;
  padding: 5px;
  outline: 2px solid rgb(170, 170, 177);
}
.th {
  font-weight: bold;
}
.tr .th:first-child,
.tr .td:first-child {
  text-align: left;
  width: 120px;
}
.tableWrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2rem 2rem;
  color: #000;
  margin-top: 40px;
}
